{#
/**
 * @file
 * Override of facets-item-list--searchbox-links.html.twig.
 * Adds an accessible label for the searchbox input.
 */
#}
<div class="facets-widget- {{- facet.widget.type -}} ">
  <label for="facets-searchbox-{{ facet.id }}" class="sr-only">{{ 'Filter'|t }} {{ facet.label }}</label>
  <input type="text" id="facets-searchbox-{{ facet.id }}" placeholder="{{ 'Search...'|t }}" class="facets-widget-searchbox" data-type="links" />
  {% if facet.widget.type %}
    {%- set attributes = attributes.addClass('item-list__' ~ facet.widget.type, 'facets-widget-searchbox-list') %}
  {% endif %}
  {% if items or empty %}
  {%- if title is not empty -%}
    <h3>{{ title }}</h3>
  {%- endif -%}

  {%- if items -%}
  <{{ list_type }}{{ attributes }}>
  {%- for item in items -%}
    <li{{ item.attributes }}>{{ item.value }}</li>
  {%- endfor -%}
</{{ list_type }}>
  {%- else -%}
    {{- empty -}}
    {%- endif -%}
  {%- endif %}

{% if facet.widget.type == "dropdown" %}
  <label id="facet_{{ facet.id }}_label">{{ 'Facet'|t }} {{ facet.label }}</label>
{%- endif %}
<div class="facets-widget-searchbox-no-result hide">{{ 'No result'|t }}</div>
</div>
